main{
    margin-left: 250px;
    padding: 20px;
    transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}

main .contenedor-presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
main .contenedor-presentacion img{
    width: 25%;
    height: 25%;
}

main .contenedor-presentacion p {
    font-size: 24px;
    color: var(--color_texto);
}

main p{
    font-size: 18px;
    line-height: 1.6;
    color: var(--color_texto);
}

main .titulos {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: var(--color_fondo_titulos);
    color: var(--color_titulos);
    transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}
