main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main .foto_empredimiento{
    width: 50%;
    height: 100%;
}

@media (max-width:600px){
    main{
       margin-left: 0; 
    }
    main.min_main{
        margin-left: 0;
    }
}

main p{
    font-size: 18px;
    line-height: 1.6;
    color: var(--color_texto);
}

.titulos {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: var(--color_fondo_titulos);
    color: var(--color_titulos);
}
