main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main .foto_empredimiento{
    width: 50%;
    height: 100%;
}

@media (max-width:600px){
    main{
       margin-left: 0; 
    }
    main.min_main{
        margin-left: 0;
    }
}

.titulos {
    color: blue;
    display: flex;
    align-content: center;
}
