.menu{
    border: 2px red;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color_icono_menu);
    color: var(--color_icono_menu_texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}

/* Barra lateral normal */
.barra_lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding: 20px 15px;
    background-color: var(--color_barra_lateral);
    transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
    overflow: hidden;
    z-index: 50;
}
/* Barra lateral reducida */
.mini_barra_lateral {
    width: 80px;
}

/* Estado normal */
.barra_lateral span {
    white-space: nowrap;         /* No cortar el texto */
    transition: opacity 0.5s ease, width 0.5s ease, margin 0.5s ease;
    opacity: 1;                  /* Totalmente visible */
    display: inline-block;       /* Necesario para animar ancho */
    width: auto;                 /* Se ajusta al contenido */
    overflow: hidden;            /* Ocultar si reducimos el ancho */
}

/* Estado reducido */
.barra_lateral.mini_barra_lateral span {
    opacity: 0;                  /* Se va desvaneciendo */
    width: 0;                    /* Elimina el espacio visualmente */
    margin: 0;                   /* Evita huecos */
}

.barra_lateral .nombre_pagina{
    width: 100%;
    height: 70px;
    color:var(--color_texto);
    display: flex;
    align-items: center;
}
.barra_lateral .nombre_pagina ion-icon{
    width: 40px;
    height: 40px;
    min-height: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra_lateral ion-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: middle;
}

.barra_lateral .nombre_pagina img{
    width: 40px;
    height: 40px;
    min-height: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra_lateral img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: middle;
}
/* Solo ocultar el texto al reducir, no el icono */

/* Estilo base para el icono */
#flecha_cerrar {
  transition: transform 0.5s ease;
}
/* Cuando la barra está reducida, rotar la flecha */
.barra_lateral.mini_barra_lateral #flecha_cerrar {
  transform: rotate(180deg);
}
.barra_lateral .navegacion{
    margin-top: 25px;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra_lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra_lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color_scroll);
    border-radius: 5px;
}
.barra_lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color_scroll_hover);
}
.icono {
    width: 30px;    /* tamaño del logo */
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: middle;
}
.barra_lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color_texto_menu);
}
.barra_lateral ul li a:hover {
    background-color: var(--color_menu_hover);
    color: var(--color_menu_hover_texto);
    opacity: 0.7; 
}
.barra_lateral .linea{
    width: 90%;
    height: 1px;
    margin-top: 15px;
    background-color:var(--color_linea);
    margin: 10px auto;
}
.barra_lateral .modo_oscuro{
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}
.barra_lateral .modo_oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color_texto_menu);
}
.barra_lateral .modo_oscuro .luna{
    width: 50px;
    height: 20px;
    cursor: pointer
}
.barra_lateral .modo_oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer
}
.barra_lateral .modo_oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color__switch_base);
    border-radius: 50px;
}
.barra_lateral .modo_oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 100%;
    background-color: var(--color_switch_circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra_lateral .modo_oscuro .circulo.prendido{
    left: 15px;
}

